<h2 mat-dialog-title>Edit Post</h2>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput formControlName="userId" placeholder="User ID" >
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="id" placeholder="ID" >
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="title" placeholder="Title">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput formControlName="body" placeholder="Body"></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onSubmit()">Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
